.home {
  padding: 2rem;
}

.todo-item {
  padding: 1rem;
  text-align: left;
  box-shadow: 3px 4px 4px 3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 4px 4px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 4px 3px rgba(0, 0, 0, 0.75);
  margin: 1rem;
}

.todo-userId {
  padding-right: 0.5rem;
}

.todo-ids {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
